h1 {
  color: red;
}

h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
  font-weight: normal;
}

*.body {
  background-color: rgb(209, 202, 190);
}

.title1 {
  text-align: center;
}

.title2 {
  text-align: center;
}

.title3 {
  text-align: center;
}

.title4 {
  text-align: center;
}

#table1 {
  border-color: FireBrick;
}

#table2 {
  border-color: FireBrick;
}

#table3 {
  border-color: FireBrick;
}

a[href*="stockx"] {
  font-style: italic;
}

a[href*="grailed"] {
  font-style: italic;
}

a[href*="projectblitz"] {
  font-style: italic;
}

a[href*="crashstreet"] {
  font-style: italic;
}

#top1 > li {
  font-weight: bold;
}

#top2 > li {
  font-weight: bold;
}

#top3 > li {
  font-weight: bold;
}

#top4 > li {
  font-weight: bold;
}

a:link {
  color: Navy;
}

a:visited {
  color: rgb(99, 20, 132);
}

a:hover {
  color: Gray;
}

.subtitle {
  font-size: 15px;
}

.subheading {
  font: 25px arial, sans-serif;
}

.pictures {
  border-style: outset;
  border-width: 10px;
  border-color: DarkRed;
}

#closetimg {
  height: 75%;
  width: 75%;
}

#tablepictures {
  border-style: solid;
  border-color: Black;
  height: 450px;
  width: 450px;
}
